body {
	font-family: sans-serif;

	background: #3a3a3a;

	margin: 0;
	padding: 0;
}

header, main, footer {
	width: 45%;
	margin: 2em auto 0 auto;
}

header {
  background: #fff;
  margin: 20px auto 0;

  display: table;

  box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, .4);
}

header h1 {
	padding: .5em;
	margin: 0;
	display: table-cell;
}

header h1 img {
	display: block;
	width: 50%;
}

header h2 {
	border-left: 2px solid rgba(0, 0, 0, 0.2);
	padding: 0.5em;
	width: 200px;
	margin: 0.5em auto 1em auto;

	text-align: center;

	display: table-cell;
	vertical-align: middle;
}

header h2.open {
	background: #08E318;
}

header h2.closed {
	background: #E32E49;
}

h2 .duration {
	margin: 0.5em;
}

h2 .duration span {
	background: #000;
	color: #fff;
	padding: 0.3em;
}

h2.open .door-state {
	color: rgba(0,0,0,0.75);
}

h2.closed .door-state {
	color: rgba(0,0,0,0.75);
}

main {
	margin: 2em auto 0 auto;
}

ul {
	padding: 0;
}

li {
	list-style: none;
	text-indent: 0px;

	color: #111;
}

li.status.open {
  background: #08E318;
}

li.status.closed {
  background: #E32E49;
}

li.status.error {
  background: #E28A2E;
}

li.status {
  text-align: center;
  font-weight: bold;

  font-size: 1em;
  margin: 0 auto;
  padding: 0.5em 0;

  background: #fff;

  color: rgba(0, 0, 0, 0.75);
}

.time {
  float: right;
  font-size: 0.7em;
  margin-top: 0.25em;
  padding-right: 0.5em;
  color: rgba(0, 0, 0, 0.3);
}

li.status .time {
  display: block;
  float: none;
  font-size: 0.8em;
}

.status + .status {
  margin-top: 2em;
}

#map {
  height: 500px;
}


footer {
  padding-top: 2em;
  margin: 0 auto 2em;
  text-align: right;
  color: #888;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #4bb3f1;
}
@media screen and (max-width: 1199px) and (min-width: 992px) {

	header,
	main,
	footer {
		width: 75%;
	}
}@media screen and (max-width: 991px) and (min-width: 768px) {

	header,
	main,
	footer {
		width: 80%;
	}
}

@media screen and (max-width: 767px) and (min-width: 577px) {

	header,
	main,
	footer {
		width: 85%;
	}
}

@media screen and (max-width: 575px) {

	header,
	main,
	footer {
		width: 95%;
	}

	header h1 {
		display: none;
	}

	header h2 {
		border: none;
	}
}
