- var history = history
- var state = state
mixin history_item(item)
	li.status(class=item.class)
		if item.open
			| geöffnet
		else if item.closed
			| geschlossen
		else
			| FEHLER
		span.time(title=item.timeTitle)= item.timeFormatted
doctype html
html
	head
		- let title = "NAH.SH Analyzer"
		meta(name="title", content=title)
		title=title

		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css')
		link(rel='stylesheet', href='https://cdn.jsdelivr.net/npm/ol@v8.2.0/ol.css')
		link(rel='stylesheet', href='/stylesheets/osm.css')
	body
		.map#map
			#popup
		#info
		block scripts
			script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js")
			script(src="https://cdn.jsdelivr.net/npm/ol@v8.2.0/dist/ol.js")
			script(src="/js/osm.js")
				
